* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  width: 90%;
  padding-top: 10px;
  margin:auto;
}
.header-text {
  color: #0866FF;
  margin-bottom:10px ;
  font-size: larger;
  font-weight: bold;
}
.box {
  width:100%;
  height: 42px;
  margin-bottom: 9px;
  border: 1px solid #EAEAEB ;
  border-radius: 5px;
  background-color: #F0F2F5;
  box-shadow: 2px 1px #DDDDDD;
}
::placeholder{
  padding-left: 10px;
  color: #75759F;
}
button{
  width: 100%;
  height: 42px;
  border: none;
  border-radius: 5px;
  background-color: #1877F2;
  color:White;
  font-weight: bold;
  font-size: large;
  /* box-shadow: ; */
}
.form-p {
  margin-top: 8px;
  font-size:medium;
  color: #1877F4;
}
p a {
  text-decoration: none;
}
.rule {
  width: 45%;
  height: 2px;
  background-color: #dcdee0;
  display: inline-block;
}
.or {
  display: inline-block;
  margin: 0px 6px 0px 5px ;
}
.join-facebook {
  width: 100%;
  margin: auto;
  /* height: 30px; */
  text-align: center;
  margin-top: 13px;
}
.join-facebook input {
  text-align: center;
  border: 1px solid #D2D5D9;
  border-radius: 7px;
  width: 78%;
  height: 37px;
}
footer{
  width: 80%;
  margin: auto;
  margin-top: 7rem;
}
.language{
  display: flex;
  justify-content: space-evenly;
  
}
.language p {
  font-size: smaller;
  line-height: 2px;
  text-align: center;
  color: #576B95;
}
.language-container-2{
  margin: 0px 0px 0px 5rem;
}
i{
  color: #7F7F7F;
  font-size: 17px;
  margin-left: 38%;
  border: 1px solid #3B5998;
  border-radius: 3px;
  padding: 2px;
  
}
ul{
  display: flex;
  justify-content: space-between;
  width: 48%;
  margin: auto;
  margin-top: 2rem;
}
ul li{
  font-size: 10px;
  color: #A190B5;
  line-height: 1px;
  /* margin-right: 20px; */
}
.ftr-1{
  list-style: none;
}
.meta{
  font-size: 13px;
  width: 80%;
  margin: auto;
  margin-top: 13px;
  color: #A190B5;
}
.meta p{
  text-align: center;
  padding-left: 2rem;
  color: #908080;
}
@media (min-width:1024px){
  body{
    display: none;
  }
}